<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>发布</h1>

    <script src="/static/jquery3.3.1/jquery3.3.1.js" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript"></script>
    <!-- Include Fancytree skin and library -->
    <link href="/static/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css">
<!--引用SweetAlert的css-->
<link rel="stylesheet" href="/static/sweetalert/sweetalert.css" />
	<link rel="stylesheet" href="/static/sweetalert/sweetalert.min.css" />
<!--引用SweetAlert的js-->
	<script src="/static/sweetalert/sweetalert.min.js"></script>
	<script src="/static/sweetalert/sweetalert-dev.js"></script>

    <script src="/static/jstree/jstree.min.js" type="text/javascript"></script>
    <!-- Initialize the tree when page is loaded -->
<script type="text/javascript">
  $(function () {

  {#记录node的名称#}
$('#treeDemo').jstree({
    // 引入插件
    "plugins": ["themes", "html_data", 'types', "ui", "checkbox"],
    "theme" : "apple",
    'types': {
        'default': {
            'icon': true  // 删除默认图标
        },
    },
    'checkbox': {  // 去除checkbox插件的默认效果
        'tie_selection': false,
        'keep_selected_style': false,
        'whole_node': false
    },
    'core': {
        'multiple' : true,  // 可否多选
        'check_callback':true,
         'data' : function (obj, callback) {
            $.get("ddd/", function(ret){
            console.log(ret.length)
            var jsonstr="[]";
            var jsonarray = eval('('+jsonstr+')');
			//动态添加select选项,从后台数据库获取
            var arrays= ret;
			for (var i = 0; i < ret.length; i++)
				{
		 			console.log(ret[i].name)
                    if (arrays[i].type=='tree'){
                        var arr = {
                            "id": arrays[i].id,
                            {#"parent":arrays[i].parentId=="root"?"#":arrays[i].parentId,#}
                            "text": arrays[i].name
                        }
                        jsonarray.push(arr);
                    }
		 		}
		 		callback.call(this, jsonarray);
			})
      },
        "types" : {
      "default" : {
       "icon" : "glyphicon glyphicon-flash"
      },
      "file" : {
        "icon" : "glyphicon glyphicon-ok"
      }
     },
        'dblclick_toggle': true,   //允许tree的双击展开
        "themes": {
                "theme": "classic",
                "dots": true,
                "icons": false
              },

    },
    'contextmenu': {    // 右键菜单
        'items': {
            'edit': {
                'label': '编辑',
                'action': function (data) {alert('aa')}
            },
            'delete': {
                'label': '删除',
                'action': function (data) {}
            }
        }
    }
}).bind("select_node.jstree", function (e, data) {
            node_name=data.node.text


})
.bind('create_node.jstree', function (e, data) {

        })
    .bind("open_node.jstree" ,function (e, data){

      })









{#提交到test#}
    $('#test').on('click', function () {
        var button_text = $('#test').val().trim().replace(/\s/g,"");
        nodes=$('#treeDemo').jstree().get_checked(true);
        nodes_name=''
        $.each(nodes, function(i, n) {
            if (i==nodes.length-1){
    		nodes_name += $(n).attr("text");
    		return false;//中断each
    		}
             nodes_name += $(n).attr("text")+",";
			});


swal({
                title: "分发代码:",
                text: "分发到test集群",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "执行",
                closeOnConfirmButtonText:"取消",
                closeOnConfirm: false,
                //allowOutsideClick :false

	            }, function () {
	            	$.ajax({
				          url:'/gov_cty/gitlab_commit/',
				          type:'get',
				          data:{'button_text':button_text,"nodes_name":nodes_name},
				          //timeout:15000,
				          beforeSend:function(XMLHttpRequest){
				              //添加动画，显示正在处理中..
				            	swal({
		        	            title:'loading...',
		        	            text:'正在加载数据',
		        	            imageUrl:'/static/ajax-loading.gif',
		        	            showConfirmButton: false//去掉确认的按钮
		        	        });
				         },
				         success:function(ret,textStatus){
				             //alert('开始回调，状态文本值：'+textStatus+' 返回数据：'+data.msg);
				             if (ret.code==0) {
				                    swal('成功', ret.msg, "success");
				                    count_err=0;
				                    count_scuess=0;
				                    $.each(ret,function(i,item){
				                    	if(i!='msg' && i!='code')
				                    	{
				                    		if(String(item).substring(0,5)=='ERROR')
						                    	{
						                    		count_err++;
						                    		$("#failed_exec").css('display','block');
						                    		$("#failed_num").text(count_err+"个服务器执行失败,如下:");
						                    		$html = $("<div id='failed_html'><div  class='alert alert-block alert-error fade in'><p><b>minion_id为:"+i+":</b></br>"+JSON.stringify(item, null, '\nt')+"</br>"+"</p></div></div>")
						                    		$("#failed_exec").append($html)
						                    	}
						                    	else
						                    	{
						                    		count_scuess++;
						                    		$("#scuess_exec").css('display','block');
						                    		$("#scuess_num").text(count_scuess+"个服务器执行成功,如下:");
						                    		console.log("item",item.innerHTML)
						                    		if (item.indexOf("\n") >= 0)//将里面的\n换成换行
						                    		{
				                    					item.replace("\n","aaaaa")
//				                    					console.log("item",item)
				                    					$("#scuess_exec").append("<div id='scuess_html'><div  class='alert alert-block alert-success fade in'><p><b>minion_id为:"+i+":</b></br>"+item+"</br>"+"</p></div></div>")
						                    		}
						                    		else
					                    			{
						                    			$("#scuess_exec").append("<div id='scuess_html'><div  class='alert alert-block alert-success fade in'><p><b>minion_id为:"+i+":</b></br>"+JSON.stringify(item, null, '\nt')+"</br>"+"</p></div></div>")
					                    			}

						                    	}
						                 }


				                    })
//			            			$("#scuess_html").html(msg)
//			            			$("#scuess_exec").css('display','block');
//			            			$("#failed_html").html(msg)
//				                    $('.confirm').click(function () {   //额外绑定一个事件，当确定执行之后返回成功的页面的确定按钮，点击之后刷新当前页面或者跳转其他页面
//				                        location.reload();
//				                    });
				                }
				             else if (ret.code == 1) {
				                    swal('有异常',ret.msg, "warning");
				                    $.each(ret,function(i,item){
				                    if(i!='code' && i!='msg')
					                    {
						                    $("#failed_exec").css('display','block');
						                    $("#failed_exec").append("<div id='failed_exec'><div  class='alert alert-block alert-error fade in'><p><b>服务器"+i+"有问题:</b></br>"+JSON.stringify(item, null, '\nt')+ret.msg+"</br>"+"</p></div></div>");
					                    }
				                    })

				                }
				        	else if(ret.code == -1){
				                   // swal(ret.msg, "", "error");
				                    swal(
				                    	      '失败',
				                    	     ret.msg,
				                    	      'error'
				                    	 )
				            }
				        	else if(ret.code == -2){
				                   // swal(ret.msg, "", "error");
				                    swal(
				                    	      '失败',
				                    	     ret.msg,
				                    	      'error'
				                    	 )
				            }
				           },
				          complete:function(XMLHttpRequest,textStatus){
				              // alert('远程调用成功，状态文本值：'+textStatus);
				             $("#loading").empty();
				           },
				           error:function(XMLHttpRequest,textStatus,errorThrown){
				              swal(
				                    	      textStatus,
				                    	     errorThrown,
				                    	      'error'
				                    )
				          }
					});

       			 });



	});

  });



  {#第三个方法#}




  </script>
<!-- (Irrelevant source removed.) -->
</head>

<body>
<div id="treeDemo"></div>

<button id="test" value="test">deplpoy test</button><br>
<button id="pro" value="pro">deplpoy pro</button><br>
<button id="dev" value="dev">deplpoy dev</button><br>
  <!-- (Irrelevant source removed.) -->

<br>
{% if status.msg %}
{{ status.msg }}
{% else %}
    {{ status.sccuss }}
<table class="table table-striped table-bordered table-hover" id="sample_2">

									<thead id="t_thead">

										<tr>
											<th>提交时间</th>
											<th>用户名</th>
											<th>注释信息</th>
										</tr>

									</thead>

									<tbody id='tbody'>
									{% for row in result %}

										<tr >
                                            <td class="hidden-480"><a href="/service_manage/?ip={{row.committed_date}}">{{row.committed_date}}</a></td>
											<td>{{row.committed_date}}</td>
											<td>{{row.committer_name}}</td>
                                        <tr/>
                                    {% endfor %}
</table>
{% endif %}

                <div id="result_html" class="portlet-body form">

									<!--执行结果栏-->
									<label id="scuess_num" ></label>
									<div id="scuess_exec"></div>

									<div>
									<label id="failed_num" ></label>
									<div>
									<div id="failed_exec">
									</div>

				</div>
</body>


</html>