<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<h1>发布</h1>

    <script src="/static/jquery3.3.1/jquery3.3.1.js" type="text/javascript"></script>
    <script src="/static/jquery-ui-1.12.1/jquery-ui.js" type="text/javascript"></script>
    <!-- Include Fancytree skin and library -->
    <link href="/static/jstree/themes/default/style.min.css" rel="stylesheet" type="text/css">
<!--引用SweetAlert的css-->
<link rel="stylesheet" href="/static/sweetalert/sweetalert.css" />
	<link rel="stylesheet" href="/static/sweetalert/sweetalert.min.css" />
<!--引用SweetAlert的js-->
	<script src="/static/sweetalert/sweetalert.min.js"></script>
	<script src="/static/sweetalert/sweetalert-dev.js"></script>
<!--添加jstree树形结构-->
    <script src="/static/jstree/jstree.min.js" type="text/javascript"></script>
    <!-- Initialize the tree when page is loaded -->
<!--添加multiple-select-master多选插件-->
<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.css" />
<link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap-theme.css" />
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

<link rel="stylesheet" href="/static/bootstrap-multiselect-0.9.13/dist/css/bootstrap-multiselect.css" />
    <script src="/static/bootstrap-multiselect-0.9.13/dist/js/bootstrap-multiselect.js"></script>

<body>
	<div id="jstree_div"></div><br>
{#    选择要执行的IP#}
        <select id="select_ip_multiple"  multiple="multiple">
        <option>192.168.77.152</option>
        <option>192.168.77.153</option>
        <option>192.168.77.154</option>
        <option>192.168.77.155</option>
        <option>192.168.77.156</option>
        <option>192.168.77.157</option>
        <option>192.168.77.158</option>
        <option>192.168.77.159</option>
    </select>
    <br>

    <button id="test" value="test">deplpoy test</button><br>
{#    <button id="pro" value="pro">deplpoy pro</button><br>#}
{#    <button id="dev" value="dev">deplpoy dev</button><br>#}
    <br>


                <div id="result_html" class="portlet-body form">

									<!--执行结果栏-->
									<label id="scuess_num" ></label>
									<div id="scuess_exec"></div>

									<div>
									<label id="failed_num" ></label>
									<div>
									<div id="failed_exec">
									</div>

				</div>


	<script type="text/javascript">

		$(function() {
			$('#jstree_div').jstree({
                "plugins": ["themes", "html_data", 'types', "ui", "checkbox"],
                "themes" : {
			"theme" : "default",
		},
                'types': {
                    'default': {
                        'icon': true  // 删除默认图标
        },
            },
            'checkbox': {  // 去除checkbox插件的默认效果
                'tie_selection': false,
                'keep_selected_style': false,
                "three_state": false,//父子级别级联选择
                'whole_node': false
            },
				'core' : {
                    'multiple' : true,  // 可否多选
					'check_callback': true,
					"data" : function (obj, callback){
							$.ajax({
								url : "project/",
								dataType : "json",
                                data:{'project':'project'},
								type : "GET",
								success : function(data) {
									if(data) {
										callback.call(this, data);//data的格式在后台做修改如下[{'id': '36685434706b786de746886668db2d43407b8752', 'text': 'cty-item-query-entity'}]
									}else{
										$("#jstree_div").html("暂无数据！");
									}
								}
							});
					},

                            "types" : {
      "default" : {
       "icon" : "glyphicon glyphicon-flash"
      },
      "file" : {
        "icon" : "glyphicon glyphicon-ok"
      }
     },
				},

			}).bind("select_node.jstree", function(event, data) {
				var inst = data.instance;
				var selectedNode = inst.get_node(data.selected);
				//console.info(selectedNode.aria-level);
				var level = $("#"+selectedNode.id).attr("aria-level");
				if(parseInt(level) <= 10){
					loadConfig(inst, selectedNode);
				}
			})
			.bind("check_node.jstree",function(event, data){
			    var inst = data.instance;
				var selectedNode = inst.get_node(data.selected);
            })
            //按钮提交

var selected_ip = [];//定义一个全局变量来保存多选的ip

        //获取项目url中获取到的项目名称
var url_text = window.location.href;//获取url,提取项目名称
console.log(url_text);
// var position_first_character = url_text.substr(url_text.substr(url_text.indexOf('/')+2).indexOf('/'));
var str = url_text.substr(url_text.indexOf('/')+2);//去掉http://
var project_name = str.substr(str.indexOf('/'))

console.log(str);
console.log(project_name.replace('/','').replace('/',''));
        {#    多选插件初始化#}
$('#select_ip_multiple').multiselect({
            enableClickableOptGroups: true,
            enableCollapsibleOptGroups: true,
            includeSelectAllOption: true,
            buttonWidth: '400px',
            dropRight: false,
            maxHeight: 150,
            /*onChange: function(option, checked) {
                $("#select_ip_multiple").each(function () {
                selected_ip.push($(this).val());
                });
            },*/
            nonSelectedText: '--请选择--',
            numberDisplayed: 10,
            enableFiltering: true,
            allSelectedText:'全部',
    });
$("#test").on('click', function () {
    //获取多选框中选择到的IP
    var selected_ip = ''
    $('#select_ip_multiple option:selected').each(function (i) {
    selected_ip += $(this).val()+",";
    });
    selected_ip = selected_ip.substr(0, selected_ip.length - 1);
    console.log("当前选中的IP",selected_ip)
        var button_text = $(this).val().trim().replace(/\s/g,"");
        console.log("当前选中的button为",button_text)
        nodes=$('#jstree_div').jstree().get_checked(true);//获取所有选择的项目
        nodes_name=''
        $.each(nodes, function(i, n) {
            if (i==nodes.length-1){
    		nodes_name += $(n).attr("text");
    		return false;//中断each
    		}
             nodes_name += $(n).attr("text")+",";
			});
        if (nodes_name==null||nodes_name==undefined||nodes_name==""||selected_ip.length==0){
            swal('提交失败','请选择要提交的项目或IP', 'warning' )
        }
        else {
            console.log("当前要提交的所有项目", nodes_name)
            swal({
                title: "分发代码:",
                text: "将" + nodes_name + "\n分发到" + button_text + "集群",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "执行",
                closeOnConfirmButtonText: "取消",
                closeOnConfirm: false,
                //allowOutsideClick :false

            }, function () {
                $.ajax({
                    url: '/'+project_name+'/gitlab_commit/',
                    type: 'get',
                    data: {'button_text': button_text, "nodes_name": nodes_name,"selected_ip":selected_ip},
                    //timeout:15000,
                    beforeSend: function (XMLHttpRequest) {
                        //添加动画，显示正在处理中..
                        swal({
                            title: 'loading...',
                            text: '正在加载数据',
                            imageUrl: '/static/ajax-loading.gif',
                            showConfirmButton: false//去掉确认的按钮
                        });
                    },
                    success: function (ret, textStatus) {
                        console.log("返回结果",ret)
                        //alert('开始回调，状态文本值：'+textStatus+' 返回数据：'+data.msg);
                        if (ret.code == 0) {
                            swal('成功', ret.msg, "success");
                            count_err = 0;
                            count_scuess = 0;
                            $.each(ret, function (i, item) {
                                if (i != 'msg' && i != 'code') {
                                    if (String(item).substring(0, 5) == 'ERROR') {
                                        count_err++;
                                        $("#failed_exec").css('display', 'block');
                                        $html = $("<div id='failed_html'><div  class='alert alert-block alert-error fade in'><p><b>minion_id为:" + i + ":</b></br>" + JSON.stringify(item, null, '\nt') + "</br>" + "</p></div></div>")
                                        $("#failed_exec").append($html)
                                    }
                                    else {
                                        swal('失败', ret.msg, "error");
                                        count_scuess++;
                                        $("#scuess_exec").css('display', 'block');
                                        console.log("item", item.innerHTML)
                                        $("#scuess_exec").append("<div id='scuess_html'><div  class='alert alert-block alert-success fade in'><p><b>minion_id为:" + i + ":</b></br>" + item + "</br>" + "</p></div></div>")

                                    }
                                }
                            })
//
                        }
                        else {
                            swal('成功', ret.msg, "success");
                        }
                    },
                    complete:function(XMLHttpRequest,textStatus){
				              // alert('远程调用成功，状态文本值：'+textStatus);
				             $("#loading").empty();
				           },
                    error:function(XMLHttpRequest,textStatus,errorThrown){
				              swal(
				                    	      textStatus,
				                    	     errorThrown,
				                    	      'error'
				                    )
				          }

                });

            });
        }//else结束


	});

		});


		function getRightItem(item){
		    if(item['text'].indexOf("\/") >= 0 ) {//包含了/的就要截取否则不变
		        var data = {}
                data['id'] = item['id']
                data['text'] = item['text'].substr(item['text'].lastIndexOf("\/")+1);
		        return data
            }
            else{
                return item
            }


        }
		function loadConfig(inst, selectedNode){

			var temp = selectedNode.text;//当前节点的text
			var id = selectedNode.id;
			var parent_id = selectedNode.parent//获取父亲节点的id
            var parent_text = $('#jstree_div').jstree("get_node", parent_id).text   //获取父亲节点的text
			var level = $("#"+selectedNode.id).attr("aria-level");

			{#var icon = selectedNode.icon;#}
			//inst.open_node(selectedNode);
			{#alert(temp);#}
			$.ajax({
				url : "get_nodes/",
				dataType : "json",
                data:{'selectedNode_text':temp,'id':id,"parent_text":parent_text},
				type : "GET",
				success : function(data) {
					if(data) {
					   selectedNode.children = [];
					   $.each(data, function (i, item) {
						   		{#var obj = {text:item};#}
						   		//$('#jstree_div').jstree('create_node', selectedNode, obj, 'last');
								inst.create_node(selectedNode,item,"last");
				       });
					   inst.open_node(selectedNode);
					}else{
						$("#jstree_div").html("暂无数据！");
					}
				}
			});
		}



	</script>
</body>



</html>